<div class="float-container">

  <div class="float-child">
    <img src="../../assets/img/LogoAdvG.svg"  alt="">
  </div>
  
  <div class="float-child">
    <form [formGroup]="form" (submit)="submit()" class="form-signin">
      <h1 class="font-login-form">Meu negócio</h1>
      <input formControlName="email" type="email" class="form-control" placeholder="Email address" required>
      <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
      </div>
      <button class="m-100 btn btn-lg btn-primary" type="submit" id="btn-sign-in">Sign in</button>
    </form>
  </div>
  
</div>