
<form [formGroup]="form" (submit)="submit()" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

    <input formControlName="name" type="text" class="form-control" placeholder="Name" required>
   
    <input formControlName="email" type="email" class="form-control" placeholder="Email address" required>

    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
   
    <div class="checkbox mb-3">

    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

  </form>